doctype html
html
  head
    title Абстрактная веб-студия
    link(rel='stylesheet', href='/css/main.css')
  body
    header
      img(src='/img/logo.svg')
      h1 Абстрактная веб-студия
    aside
      nav
        a(href='/') О нас
        a(href='/projects.html') Проекты
        a(href='/contacts.html') Контакты
    article
      block main
    footer
      p 2014 &copy; Абстрактная веб-студия